<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Geografis Persebaran Pertanian dan Perairan</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<!-- Lo sesuaian aja ya bang ini halaman ama yang lama-->
<body class="bg-gray-100 flex flex-col items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md text-center">
        <h1 class="text-4xl mb-6">Sistem Informasi Geografis Persebaran Pertanian dan Perairan</h1>
        <p class="mb-6">Selamat datang di Sistem Informasi Geografis Persebaran Pertanian dan Perairan. Silakan login atau register untuk mengakses peta.</p>
        <a href="/register.html" class="block mb-4 text-blue-500">Register</a>
        <a href="/login.html" class="block mb-4 text-blue-500">Login</a>
    </div>
</body>
</html>
